body, nav, ul, li, a  {
    margin: 0; 
    padding: 0;
}
a { 
    text-decoration: none; 
}
.container {
    margin: 0 auto;
    text-align: center;
}
.toggleMenu {
    display:  none;
    background-image: url(../imagenes/bg.jpg);
    padding-bottom: 10px;
    color: #00a6d5;
    width: 100%;
}
.nav {
    list-style: none;
     *zoom: 1;
     background-image: url(../imagenes/bg.jpg);
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
.nav a {
    padding: 15px;
    color:#fff;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.nav a:hover {
    color: #00a6d5;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.nav li {
    position: relative;
}
.nav > li {
    display: inline-block;
}
.nav > li > .parent {
    background-image: url("../imagenes/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #252525;
    position: relative;
    z-index:100;
    border-top: 1px solid #323232;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #323232;
}

@media screen and (max-width: 760px) {

    .active {
        display: block;
    }
    .nav > li {
        display: block;
        width: 100%;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}

@media screen and (min-width: 761px) { 
    
    .nav > li { 
        font-size: 14px;
    }

}
@media screen and (min-width: 1000px) { 
    
    .nav > li { 
        margin: 0 15px;
    }

} 
@media screen and (min-width: 1200px) { 
    
    .nav > li { 
        margin: 0 20px;
        font-size: 16px;
    }

}